@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body {
    width: 100vw;
    height: 100vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(206, 232, 255);
    align-items: center;
    background-image: url(./images/wallpaper.webp);
    background-position: center;
    background-size: cover;
}

.box {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(44, 44, 44, 0.397);
    background-position: center;
    background-size: cover;
}

form {
    gap: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#sendButton {
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease;
}

#sendButton img {
    width: 25px;
    padding: 2px;
}

input[type=text] {
    height: 30px;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(208, 208, 208, 0.435) 2px;
    color: white;
    transition: all 0.5s ease;
}

input[type=text]:hover {
    border-bottom: solid rgba(17, 17, 17, 0.683) 2px;
    transition: all 0.5s ease;
}

input::placeholder {
    color: rgb(193, 193, 193);
}

#list-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(248, 234, 255, 0.327);
    width: 100%;
}

#weather-img {
    width: 100px;
}

#details-response {
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

#img-temp {
    width: 65px;
}

.details {
    display: flex;
    gap: 10px;
}

#humidityBox, #windBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    color: rgb(32, 32, 32);
}

.state-name {
    letter-spacing: 1.3px;
}

.select {
    cursor: default;    
    color: rgb(243, 243, 243);
}